page-configurateur {
    h1{
        text-align: center;
        }

    #description{
        text-align: justify;
    }

ion-card{
text-align: center;
display: block;
height: 200px;
border: none

}

ion-card-header{
    background-color: #D6C0B0;
}

ion-img{
    display: block;
    margin: auto;
    margin-top: 10px;
}
}
