page-catalog {


    .contentCard{
        background-color:white ;
        font-weight: bold;
    }

    .price{
        color: rgb(150, 114, 88);
        font-weight: bold;
        font-size: 25px;
    }

}
